* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  padding-top: 10px;
}

.profile {
  width: 250px;
  border: 1px solid rgba(58, 57, 57, 0.699);
  border-radius: 10px;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  margin-bottom: 10px;
}

.description {
  width: 100%;
  text-align: center;
  padding: 20px;
}

.avatar {
  border-radius: 50%;
}

.name {
  font-size: 20px;
  font-weight: 700;
}

.tag {
  font-size: 14px;
  color: rgba(110, 105, 105, 0.699);
  font-weight: 700;
}

.location {
  font-size: 14px;
  color: rgba(110, 105, 105, 0.699);
  font-weight: 700;
}

.stats {
  width: 100%;
  list-style: none;
  display: flex;
}

.item {
  width: 33.3%;
  padding: 10px;
  border: 1px solid rgba(58, 57, 57, 0.699);
  background-color: rgba(224, 215, 215, 0.808);
}

.label {
  display: block;
  text-align: center;
  font-size: 13px;
  color: rgb(77, 72, 72);
}

.quantity {
  display: block;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}
